.news-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  &-item {
    position: relative;
    padding-left: 25px;

    span {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
